{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quo quos alias magni eius, iste, itaque corrupti tenetur ipsum, expedita doloremque voluptates. Eveniet illum dolorem expedita delectus error inventore ab molestias voluptas non voluptate at fugiat ducimus omnis laborum provident aut beatae quas saepe, asperiores aliquam fuga repudiandae unde veritatis. Dignissimos accusantium hic error laborum nemo sapiente illum deserunt harum eligendi ea doloremque nostrum recusandae fugiat fugit voluptatem incidunt, quidem provident eum consequatur praesentium reiciendis culpa. Officiis, sunt perspiciatis rem, ullam ut, explicabo tempore debitis hic non laborum officia distinctio quasi impedit totam esse ipsam aut pariatur magnam? Consequuntur, a!
    </p>
{% endblock %}

{% block js %}

{% endblock %}